[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/stb/stb"]
	path = vendor/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/nlohmannjson"]
	path = vendor/nlohmannjson
	url = https://github.com/nlohmann/json.git
[submodule "vendor/epollshim"]
	path = vendor/epollshim
	url = https://github.com/jiixyj/epoll-shim.git
[submodule "vendor/stduuid"]
	path = vendor/stduuid
	url = https://github.com/mariusbancila/stduuid.git
